body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#plotArea {
	width: 900px;
	height: 700px;
	position: absolute;

	text {
		fill: #03a6b8
	}

	&.overlay {
		opacity: 0.8;
	}
	.fixedPoint {
		cursor: pointer;

		&.moving, &:hover {
			fill: #32939c;
		}

		&.remove {
			fill: #5b7476;
		}
	}

	.polygons {
	  	fill: none;
	  	cursor: pointer;
	  	pointer-events: all;
	}

	.speedPoint {
		pointer-events: none;
		&.hover {
			fill: url(#gradient2) !important;
		}
	}

	.axis {
		path, line {
			stroke: #03a6b8
		}
	}

	.pickPie .top .segment {
		cursor: pointer;
	}
}



#plotOverlay {
	width: 900px;
	height: 700px;
	position: absolute;

	text {
		stroke: none;
		fill: #a9b802;

		&.legal {
			font-size: 8pt;
			fill: #000000;

			& a {
				text-decoration: underline;
			}
		}
	}
}