body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.fixedPoint {
	cursor: pointer;

	&.moving, &:hover {
		fill: goldenrod;
	}

	&.remove {
		fill: red;
	}
}

.polygons {
  	fill: none;
  	pointer-events: all;
}

.speedPoint {
	pointer-events: none;
	&.hover {
		fill: yellow !important;
	}
}